<mat-card class="border card-padding">
  <mat-toolbar color="accent">
    <a routerLink="/admin/user/list" mat-icon-button>
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </a>
    <span class="fill-remaining-space"></span>
    <span>USER INFORMATION</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button [routerLink]="['/admin/user/list']" routerLinkActive="router-link-active" color="primary">
      <mat-icon aria-label="Add">list</mat-icon>&nbsp; Users
    </button>
  </mat-toolbar>

  <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
      <app-base-form></app-base-form>
      <div class="parent" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">

        <div fxFlex="12%">
          <p>
            <mat-label class="full-width">User Role</mat-label>
          </p>
        </div>
        <div fxFlex="20%">
        </div>
      </div>
      <div class="div-small" fxLayout="row row-reverse" fxLayoutAlign="start center" fxLayoutGap="0.5em" *ngFor="let role of roles">
        <mat-checkbox  [checked]="role.selected" (change)="onChange($event)" [value]="role">{{ role.printName }}</mat-checkbox>
      </div>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
     <div fxFlex="25%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput placeholder="Enter first name..." formControlName="firstName">
        </mat-form-field>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">firstName is required</div>
      </div>
      </div>

      <div fxFlex="25%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="Enter last name..." formControlName="lastName">
        </mat-form-field>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">lastName is required</div>
      </div>
      </div>
    </div>

    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px"
      fxLayoutGap.xs="0">
      <div fxFlex="40%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username/email</mat-label>
          <input matInput placeholder="Your Username" formControlName="userName"  required>
          <mat-hint *ngIf="serverError?.name"><span class="color-danger">{{serverError.name}}</span></mat-hint>
        </mat-form-field>
      </div>
      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
        <div *ngIf="f.userName.errors.required">userName is required</div>
        <div *ngIf="f.userName.errors.pattern">invalid userName</div>
    </div>
    </div>

    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px"
      fxLayoutGap.xs="0">
     <div fxFlex="30%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select placeholder="Gender" formControlName="gender" required>
            <!-- <mat-option *ngFor="let key of genderKeys" [value]="gender[key]">
              {{ gender[key] }}
            </mat-option> -->
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">female</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">gender is required</div>
      </div>
      </div>
      <div *ngIf="showBranch" fxFlex="30%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Branch</mat-label>
          <mat-select placeholder="branch" formControlName="branch" [compareWith]="compareFn" required>
            <mat-option *ngFor="let item of branches" [value]="item" aria-disabled="showBranch">
              {{item.branchName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px"
      fxLayoutGap.xs="0">

      <div fxFlex="30%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Enter phone number..." formControlName="phoneCell">
        </mat-form-field>
        <div *ngIf="submitted && f.phoneCell.errors" class="invalid-feedback">
          <div *ngIf="f.phoneCell.errors.required">phone is required</div>
          <div *ngIf="f.phoneCell.errors.pattern">invalid phone number</div>
      </div>
      </div>
      <div fxFlex="30%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Business</mat-label>
          <input matInput placeholder="Enter Business number..." formControlName="phoneBusiness">
        </mat-form-field>
      </div>
    </div>
   
    
    <!--  removed [disabled]="role.selected" -->
    <div class="container" formGroupName="matching_passwords" fxLayout fxLayout.xs="column" fxLayoutAlign="right"
      fxLayoutGap="12px" fxLayoutGap.xs="0">
      <div fxFlex="12%">
        <p>
          <mat-label class="full-width">Passwords</mat-label>
        </p>
      </div>
      <div fxFlex="25%" class="form-container">
        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngFor="let validation of msg.account_info.password">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (userDetailsForm.get('matching_passwords').get('password').dirty || userDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

      </div>
      <div fxFlex="25%" class="form-container">
        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
            [errorStateMatcher]="parentErrorStateMatcher" required>
          <mat-error *ngFor="let validation of msg.account_info.confirmPassword">
            <mat-error class="error-message" *ngIf="(userDetailsForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| userDetailsForm.get('matching_passwords').hasError(validation.type)) && (userDetailsForm.get('matching_passwords').get('confirmPassword').dirty || userDetailsForm.get('matching_passwords').get('confirmPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="changePass" fxFlex="10%" class="form-container">

        <button type="button" (click)="openChangePasswordDialog()">Change Password</button>
      </div>
    </div>
    <input type="hidden" formControlName="password">
    <br>
    <br>
    <mat-divider></mat-divider>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
      <div fxFlex="12%">

      </div>
      <div fxFlex="70%">
        <button type="submit" mat-raised-button class="btn-md"  color="accent">Save</button>&nbsp;
        <button routerLink="/admin/user/list" type="button" mat-raised-button class="btn-md" color="warn">Cancel</button>
      </div>
    </div>
  </form>
</mat-card>
