<div [class]="theme">
    <div [ngStyle]="{'margin-top.px': 90}"  class="main-div">
        <img class="img-logo" src="{{global.baseUrl}}/api/admin/company-profile/profile-pic" alt="Logo">
      </div>
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex="30%"></div>

    <div class="form-field" fxFlex="40%">
      <mat-card>
        <mat-toolbar color="accent">
          <a routerLink="/login" mat-icon-button>
            <mat-icon aria-label="Back">arrow_back</mat-icon>
          </a>
          <span class="fill-remaining-space"></span>
          <span>Reset Password ?</span>
          <span class="fill-remaining-space"></span>
        </mat-toolbar>

        <div [ngStyle]="{'margin-top.px': 30}">
          <form [formGroup]="resetPassForm" (ngSubmit)="submit(resetPassForm.value)">
              <input type="hidden" formControlName="password">
            <div formGroupName="matching_passwords">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="Enter New Password" formControlName="password" required>
              <mat-error *ngFor="let validation of msg.account_info.password">
                  <mat-error class="error-message" *ngIf="resetPassForm.get('matching_passwords').get('password').hasError(validation.type) && (resetPassForm.get('matching_passwords').get('password').dirty || resetPassForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field [ngStyle]="{'margin-top.px': 30}" class="full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                  [errorStateMatcher]="parentErrorStateMatcher" required>
                <mat-error *ngFor="let validation of msg.account_info.confirmPassword">
                  <mat-error class="error-message" *ngIf="(resetPassForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| resetPassForm.get('matching_passwords').hasError(validation.type)) && (resetPassForm.get('matching_passwords').get('confirmPassword').dirty || resetPassForm.get('matching_passwords').get('confirmPassword').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <button [ngStyle]="{'margin-top.px': 30}" type="submit" class="btn-large" [disabled]="!resetPassForm.valid" mat-stroked-button color="primary">Submit</button>
          </form>
        </div>
      </mat-card>
    </div>
    <div fxFlex="30%"></div>
  </div>
</div>
