<div [class]="theme">
  <div [ngStyle]="{'margin-top.px': 90}" class="main-div">
    <img class="img-logo" src="{{global.baseUrl}}/api/admin/company-profile/profile-pic" alt="Logo">
  </div>
  <div  fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="30%"></div>

    <div class="form-field" fxFlex="40%">
      <mat-card [ngClass]="overlay">
        <mat-toolbar color="accent">
          <a routerLink="/login" mat-icon-button>
            <mat-icon aria-label="Back">arrow_back</mat-icon>
          </a>
          <span class="fill-remaining-space"></span>
          <span>Forgot Password ?</span>
          <span class="fill-remaining-space"></span>
        </mat-toolbar>

        <div [ngStyle]="{'margin-top.px': 40}">
          <form [formGroup]="forgotPassForm" (ngSubmit)="submit(forgotPassForm.value)">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter Email Address</mat-label>
              <input matInput placeholder="Enter your email" formControlName="email" required>
            </mat-form-field>
            <button type="submit" class="btn-large" [disabled]="!forgotPassForm.valid" mat-stroked-button color="primary">Submit</button>
          </form>
        </div>
      </mat-card>
    </div>
    <div fxFlex="30%"></div>
  </div>
</div>
