$mhr-black-primary: mat-palette($mat-grey, 700, 300, 900);
$mhr-black-accent: mat-palette($mat-blue-grey, 400);
$mhr-black-warn: mat-palette($mat-red, 500);

$mhr-black-theme: mat-dark-theme(
  $mhr-black-primary,
  $mhr-black-accent,
  $mhr-black-warn
);
