<mat-card class="border_accent card-padding border_radius">
  <mat-toolbar color="primary">
    <a routerLink="/tasks" mat-icon-button color="accent">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </a>
    <span class="fill-remaining-space"></span>
    <span>Edit Task</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button [routerLink]="['/tasks']" routerLinkActive="router-link-active" color="accent">
      <mat-icon aria-label="Add">list</mat-icon>&nbsp; Tasks
    </button>
  </mat-toolbar>
  <form [formGroup]="taskForm">
  <app-base-form></app-base-form>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="40%">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Assignee</mat-label>
        <mat-select placeholder="Assignee" formControlName="assignee" [compareWith]="compareFn"  disabled>
          <mat-option *ngFor="let item of user" [value]="item">
            {{item.firstName}} {{item.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div fxFlex="20%">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Expected Spent time(h)</mat-label>
        <input matInput disabled placeholder="Branch Address" formControlName="spentTime" type="number" required>
      </mat-form-field>
    </div> -->
    <div fxFlex="20%">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Actual time spent(h)</mat-label>
        <input matInput placeholder="Branch Address" formControlName="actualTimeSpent" type="number" disabled required>
      </mat-form-field>
    </div>
  </div>

  

  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px"
      fxLayoutGap.xs="0">
      <div fxFlex="25%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select placeholder="Priority" disabled formControlName="priority"  >
            <!-- <mat-option *ngFor="let key of priorityKeys" [value]="priority[key]">
              {{ priority[key] }}
            </mat-option> -->
            <mat-option value="NORMAL">NORMAL</mat-option>
            <mat-option value="IMMEDIATE">IMMEDIATE</mat-option>
            <mat-option value="URGENT">URGENT</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select placeholder="Status" formControlName="status"  disabled>
            <!-- <mat-option *ngFor="let key of statusKeys" [value]="status[key]">
              {{ status[key] }}
            </mat-option> -->
            <mat-option value="WAITING">WAITING</mat-option>
            <mat-option value="PENDING">PENDING</mat-option>
            <mat-option value="RESOLVED">RESOLVED</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="25%">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Action taken</mat-label>
          <mat-select placeholder="Status" formControlName="actionTaken"  required>
            <mat-option value="Account credited">Account credited</mat-option>
            <mat-option value="Account debited">Account debited</mat-option>
            <mat-option value="No action taken">No action taken</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="70%">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="Phone Number" formControlName="assigneeNotes" ></textarea>
      </mat-form-field>
    </div>
  </div>
  <mat-divider insert="true"></mat-divider>
  <input type="hidden" formControlName="startTime">
  <!-- branch list -->

    <div *ngIf="editForm" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
     
      <div fxFlex="25%" style="padding: 10px;">
        <mat-button-toggle-group appearance="legacy" formControlName="working" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle (click)="editTime(taskForm.value.working)" value="START"><mat-icon>play_arrow</mat-icon></mat-button-toggle>
          <mat-button-toggle (click)="editTime(taskForm.value.working)" value="PAUSE"><mat-icon>pause</mat-icon></mat-button-toggle>
          <mat-button-toggle (click)="editTime(taskForm.value.working)" value="DONE"><mat-icon>done_all</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
        <!-- <mat-slide-toggle>Start task</mat-slide-toggle> -->
        <!-- <mat-slide-toggle formControlName="working" checked="working.value" >{{taskForm.value.working ? 'WORKING' : 'NOT WORKING'}}</mat-slide-toggle> -->
     
      </div>
      <div fxFlex="35%"></div>
      <div fxFlex="40%" *ngIf="taskForm.value.working==='DONE'">
        <button mat-raised-button [disabled]="! taskForm.valid" color="primary" (click)="submitValues(taskForm.value)">Submit</button>&nbsp;
        <button mat-raised-button  routerLinkActive="router-link-active"  color="warn">Cancel</button>
      </div>
    </div>
</form>
</mat-card>