<div [class]="theme">
  <div class="border_accent border-radius" >
      <mat-toolbar color="accent">
          <span>
            <p>CHANGE PASSWORD FOR {{user?.firstName | uppercase}} {{user?.lastName | uppercase}}</p>
          </span>
          <span class="fill-remaining-space"></span>
          <button mat-button (click)="closeDialog()">
            <mat-icon aria-label="close">close</mat-icon>
          </button>
        </mat-toolbar>
<form [formGroup]="form" (ngSubmit)="save(form.value)">

  <div class="container" formGroupName="matching_passwords" fxLayout="column"
      fxLayoutGap="12px" fxLayoutGap.xs="5">
      <div fxFlex="100%">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngFor="let validation of msg.account_info.password">
            <mat-error class="error-message" *ngIf="form.get('matching_passwords').get('password').hasError(validation.type) && (form.get('matching_passwords').get('password').dirty || form.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
            [errorStateMatcher]="parentErrorStateMatcher" required>
          <mat-error *ngFor="let validation of msg.account_info.confirmPassword">
            <mat-error class="error-message" *ngIf="(form.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| form.get('matching_passwords').hasError(validation.type)) && (form.get('matching_passwords').get('confirmPassword').dirty || form.get('matching_passwords').get('confirmPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <input type="hidden" formControlName="password">
  <br>
  <mat-divider></mat-divider>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="12px" fxLayoutGap.xs="0">
    <div fxFlex="12%">

    </div>
    <div fxFlex="70%">
      <button type="submit" mat-raised-button class="btn-md" [disabled]="!form.valid" color="primary">Save</button>&nbsp;
      <button type="button" mat-raised-button class="btn-md" color="warn" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</form>
</div>
</div>
