<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="85%">
<mat-card class="card-padding">
  <mat-toolbar color="accent">
      <a routerLink="/admin/" mat-icon-button matTooltip="back">
        <mat-icon aria-label="Back">arrow_back</mat-icon>
    </a>
    
    <span class="fill-remaining-space"></span>
      <span>Your Tasks</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button matTooltip="export to excel" (click)="exportAsXLSX(myTasks,user.displayName +'_Tasks')">
      <mat-icon>print</mat-icon>
      </button>
    <button mat-icon-button matTooltip="export to pdf" (click)="exportAs('pdf', 'portrait')"><mat-icon aria-label="Add">picture_as_pdf</mat-icon></button>
    <!-- <button (click)="openQuotePdf()">View</button> -->
    <!-- <a routerLink="/query" mat-raised-button
      color="primary">
      <mat-icon aria-label="Add">add_circle</mat-icon>&nbsp; Add New
    </a> -->
  </mat-toolbar>
  <div>
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
</mat-card>
<ngx-datatable id="mytable" class="material ngx-table-card" [rows]="myTasks" [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10">
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Task No.
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.id}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              stanNo
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.query?.stanNo}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            Amount
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
             {{row.query?.amount}}
        </ng-template>
    </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Status
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.status}}
          </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
               Category
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.query?.category?.name}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
             Priority
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.priority}}
          </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <div class="button-row">
                    <button mat-icon-button (click)="editTasks(row)">
                        <mat-icon>border_color</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <mat-card class="card-padding">
      <mat-toolbar color="accent">
          <a routerLink="/admin/" mat-icon-button>
            <mat-icon aria-label="Back">arrow_back</mat-icon>
        </a>
        <!-- <button mat-icon-button (click)="exportAsXLSX(myTasks,'Other_Tasks')">
          <mat-icon>print</mat-icon>
          </button> -->
        <span class="fill-remaining-space"></span>
          <span>Other Tasks</span>
        <span class="fill-remaining-space"></span>
        <!-- <a routerLink="/query" mat-raised-button
          color="primary">
          <mat-icon aria-label="Add">add_circle</mat-icon>&nbsp; Add New
        </a> -->
      </mat-toolbar>
    </mat-card>
    <ngx-datatable class="material ngx-table-card" [rows]="tasks" [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10">
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
                Task No.werty
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                 {{row.id}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              stanNo
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.query?.stanNo}}
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
            Amount
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
             {{row.query?.amount}}
        </ng-template>
    </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Status
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.status}}
          </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-column="column" ngx-datatable-header-template>
               Category
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.query?.category.name}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
             Priority
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.priority}}
          </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <div class="button-row">
                    <button mat-icon-button (click)="editTasks(row)">
                        <mat-icon>border_color</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
</div>
