<!-- <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="98%">
      <mat-toolbar class="border" style="border-radius:5px;">
        <span>Administration</span>
      </mat-toolbar>
    </div>
  </div> -->

  <div class="grid-container">
      <mat-grid-list cols=5 rowHeight="200px">
      <mat-grid-tile  colspan="1" rowspan="1">
          <mat-card role="region" (click)="redirect('/admin/user/')"  class="dashboard-card">
            <div class="card-padding">
            <mat-card-content class="dashboard-card-content">
              <div>
                <span><mat-icon [ngClass]="iconSize">supervisor_account</mat-icon></span>
                <h2 [ngClass]="fontSize" >Users</h2>
              </div>
            </mat-card-content>
            </div>
          </mat-card>
        </mat-grid-tile>

              <mat-grid-tile  colspan="1" rowspan="1">
                  <mat-card role="region" (click)="redirect('/admin/category')"  class="dashboard-card">
                    <div class="card-padding">
                    <mat-card-content class="dashboard-card-content">
                      <div>
                        <span><mat-icon [ngClass]="iconSize">description</mat-icon></span>
                        <h2 [ngClass]="fontSize" >Categories</h2>
                      </div>
                    </mat-card-content>
                    </div>
                  </mat-card>
                </mat-grid-tile>

                    <mat-grid-tile  colspan="1" rowspan="1">
                        <mat-card role="region" (click)="redirect('/admin/branch')"  class="dashboard-card">
                          <div class="card-padding">
                          <mat-card-content class="dashboard-card-content">
                            <div>
                              <span><mat-icon [ngClass]="iconSize">home</mat-icon></span>
                              <h2 [ngClass]="fontSize" >Branch</h2>
                            </div>
                          </mat-card-content>
                          </div>
                        </mat-card>
                      </mat-grid-tile>

                      <mat-grid-tile  colspan="1" rowspan="1">
                        <mat-card role="region" (click)="redirect('/query-list')"  class="dashboard-card">
                          <div class="card-padding">
                          <mat-card-content class="dashboard-card-content">
                            <div>
                              <span><mat-icon [ngClass]="iconSize">home</mat-icon></span>
                              <h2 [ngClass]="fontSize" >Queries</h2>
                            </div>
                          </mat-card-content>
                          </div>
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile  colspan="1" rowspan="1">
                        <mat-card role="region" (click)="redirect('/admin/sms')"  class="dashboard-card">
                          <div class="card-padding">
                          <mat-card-content class="dashboard-card-content">
                            <div>
                              <span><mat-icon [ngClass]="iconSize">home</mat-icon></span>
                              <h2 [ngClass]="fontSize" >SMS Settings</h2>
                            </div>
                          </mat-card-content>
                          </div>
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
      </div>

      <div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="80%">
          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="80%">
          <div>
            <div>
              <div style="display: block;">
                <canvas baseChart style="height: 200px;"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- <div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="20%" class="border_right_accent">
<mat-action-list>
  <button mat-list-item *ngFor="let user of users"> {{user.displayName}} </button>
</mat-action-list>
</div>
<div fxFlex="80%"></div>
</div> -->
