<div *ngIf="showItems" class="item-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="100%">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <h2 class="color-primary"><span class="medical-icon-i-radiology" aria-hidden="true"></span>&nbsp;ACHIEVEMENT (Weight Overal Green)</h2>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
<div>
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
</ng-template>
</mat-expansion-panel>
</div>
</div>

